/** Icon font */
@font-face{
	font-family: "MAIcons";
	src: url("fonts/MAIcons.eot");
	src: url("fonts/MAIcons.eot#iefix") format("embedded-opentype"),
		 url("fonts/MAIcons.woff2") format("woff2"),
		 url("fonts/MAIcons.ttf") format("truetype"),
		 url("fonts/MAIcons.woff") format("woff"),
		 url("fonts/MAIcons.svg#MAIcons") format("svg");
	font-weight: normal;
	font-style: normal;
}

.i{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "MAIcons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/** Actual icons */
.icon-nav::before			{	content: "\2630";	}
.icon-search::before		{	content: "\2315";	}

/** Ornamentation */
.icon-border1::before		{	content: "\e603";	}
.icon-border2::before		{	content: "\e604";	}
.icon-dagger1::before		{	content: "\e605";	}
.icon-dagger2::before		{	content: "\e606";	}
.icon-fleuron1-l::before	{	content: "\e607";	}
.icon-fleuron1-r::before	{	content: "\e608";	}
.icon-fleuron2-l::before	{	content: "\e609";	}
.icon-fleuron2-r::before	{	content: "\e60a";	}
.icon-fleuron2-t::before	{	content: "\e60b";	}
.icon-fleuron2-b::before	{	content: "\e60c";	}
.icon-fleuron3-b::before	{	content: "\e60d";	}
.icon-fleuron3-t::before	{	content: "\e60e";	}
.icon-fleuron4::before		{	content: "\e60f";	}
.icon-fleuron5::before		{	content: "\e610";	}
.icon-fleuron6::before		{	content: "\e611";	}
.icon-fleuron7::before		{	content: "\e612";	}
.icon-fleuron8::before		{	content: "\e613";	}
