html{
	background: #000;
	color: #e2d8cf;
	font: 1em/1.4 Verdana, "Droid Sans", Arial, Geneva, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	transition: .3s ease transform;
	touch-action: manipulation;
}
	html.open-sidebar{
		transform: translateX(16.25em);
	}


/** Site's banner; hidden on mobile */
#top{
	display: none;
}
	#logo{
		width: 100%;
		background: no-repeat url("../img/logo.jpg");
		background-size: auto 100%;
		text-indent: -999em;
		text-align: left;
		line-height: 0;
	}
		#logo > a{
			display: block;
			padding-top: 30%;
		}


/** Navbar affixed to the top of the viewport on mobile */
#navbar{
	position: fixed;
	z-index: 5;
	top:    0;
	left:   0;
	right:  0;
	height: 3.125em;
	padding: 0 3.2em;
	text-align: center;
	background: #271010 url("../img/grain.png");
	box-shadow: 0 0 .25em #000;
}
	#bar-title{
		font: small-caps 1.25em/2.5 Georgia, serif;
		letter-spacing: .05em;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	/** Toggle buttons */
	#navbar > i{
		position: absolute;
		top:    0;
		height: 100%;
		width:  1.5em;
		color: #c2af9f;
		cursor: pointer;
		transition: .3s ease color;
	}
		#navbar > i::before{
			font-size: .7em;
			position: absolute;
			padding-top: 50%;
		}
		
		#toggle-sidebar{ left:  0; z-index: 5; }
		#toggle-search{  right: 0; }
		.open-sidebar #toggle-sidebar{
			color: #fff;
		}
	




	/** Actual search <form> */
	#search-form{
		position: absolute;
		top:    0;
		right:  0;
		height: 100%;
		width:  100%;
	}
		/** Faux background to hide the input field when it's sliding closed */
		#search-form::before{
			content: "";
			background: url("../img/grain.png");
			position: absolute;
			top:    0;
			right:  0;
			height: 100%;
			width: 1.7em;
			z-index: 3;
		}
		
		/** Decorated wrapper for search field */
		#search-wrap{
			position: absolute;
			background: #000;
			border: 0 solid #917979;
			border-width: 1px 0;
			border-radius: .25em;
			padding: .5em;
			top:    .35em;
			right:  1.75em;
			height: 2.5em;
			width:  90%;
			width: calc(100% - 6em);
			z-index: 1;
			opacity: 0;
			
			backface-visibility: hidden;
			will-change: transform;
			perspective: 1em;
			transition: .3s ease all;
			transform: translateX(100%);
			transform: translate3d(100%, 0, 0);
			transform: translateX(calc(100%  - 2.5em));
			transform: translate3d(calc(100% - 2.5em), 0, 0);
		}
			.open-search #search-wrap{
				transform: translateX(0);
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
			
			/** Embossed caps bolted on each end */
			#search-wrap::before,
			#search-form::after{
				content: "";
				background: no-repeat url("../img/caps.png");
				background-size: auto 100%;
				font-size: 3em;
				width:  .92em;
				height: 1em;
				top:    50%;
				right:  100%;
				z-index: 2;
				margin: -.5em -.33em 0;
				position: absolute;
			}
				#search-form::after{
					opacity: 0;
					right: 0;
					margin-right: 0;
					background-position: 100% 0;
					border-top: 1px solid transparent;
				}
			
			/** Shared transition rules */
			#search-form::before,
			#search-form::after{
				transition: .3s ease opacity, 0s step-end z-index .4s;
				z-index: -2;
			}
				.open-search #search-form::before,
				.open-search #search-form::after{
					transition-delay: 0s;
					z-index: 2;
					opacity: 1;
				}
				
				.open-search #search-form::before{
					
				}
			
			
			
			/** Actual input field */
			#search-query{
				background: none;
				position: absolute;
				border: 0;
				top:    0;
				left:   0;
				width:  100%;
				height: 100%;
				display: block;
				padding: 0 1.1em;
			}
				html:not(.open-search) #search-query{
					cursor: pointer;
				}


		#search-submit{
			display: none;
		}


		/** Panel holding the close button and search options */
		#search-options{
			display: block;
			position: absolute;
			white-space: nowrap;
			font-size: .875em;
			top:    100%;
			width:  100vw;
			right:  0;
			padding: 1em;
			text-align: left;
			background: url("../img/waves.png");
			border-bottom: 1px solid #461f0f;
			
			will-change: transform;
			backface-visibility: hidden;
			perspective: 1em;
			transform: translateY(-200%);
			transform: translate3d(0%, -200%, 0);
			transition: .4s ease opacity, 0s step-end transform .5s;
			z-index: -2;
			opacity: 0;
		}
			/** Hidden screen to block interaction when fading out */
			#search-options::after{
				content: "";
				position: absolute;
				top:    0;
				left:   0;
				right:  0;
				bottom: 0;
				z-index: 2;
			}
				.open-search #search-options::after{
					z-index: -1;
				}
			
			.open-search #search-options{
				transform: translateY(0);
				transform: translate3d(0, 0, 0);
				transition-delay: 0s;
				opacity: 1;
			}
			
			/** Type of search to perform */
			#search-type{
				display: inline-block;
				position: relative;
				color: #a2787a;
			}
				#search-type:hover{
					text-decoration: underline;
				}
				#search-type > select{
					position: absolute;
					display: block;
					cursor: pointer;
					opacity: 0;
					z-index: 2;
					top:    0;
					left:   0;
					right:  0;
					bottom: 0;
				}
			
			/** Close button */
			#search-close{
				position: absolute;
				top:    .35em;
				right:  .5em;
				cursor: pointer;
				line-height: 0;
			}
				#search-close::before{
					content: "\D7";
					font-size: 1.3em;
					padding-top: 30%;
				}


/** Slide-out sidebar */
#sidebar{
	position: fixed;
	overflow: auto;
	top:    0;
	right:  100%;
	width:  16.25em;
	height: 100vh;
	background: #000;
	border-right: 1px solid #340404;
	-webkit-overflow-scrolling: touch;
}
	#sidebar a{
		display: block;
		color: #e2d8cf;
		padding: .5em 1.375em;
		border-bottom: 1px solid #3e0b0a;
	}
		#sidebar a:hover{
			color: #a2787a;
			text-decoration: none;
		}
	
	
	#sidebar > section{
	}
		/** Fold headings */
		#sidebar h3{
			text-align: right;
			font-size: 1em;
			margin: 0;
			padding: .375em 1em;
			border: 0 solid #461f0f;
			border-width: 1px 0;
			background: url("../img/waves.png");
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: auto;
		}
			#sidebar > :first-child > h3{
				border-top: 0;
			}
		
		/** Collapsible part of each sidebar menu */
		#sidebar .fold{
			margin: 0;
			padding: 0;
			list-style: none;
		}



main{
	padding-top: 50px;
	padding-top: 3.125rem;
	position: fixed;
	top:    0;
	left:   0;
	right:  0;
	height: 100vh;
	overflow: auto;
	font-size: .9em;
	line-height: 1.6;
	background: #000;
	-webkit-overflow-scrolling: touch;
}
	main > article{
		padding: .5em 1em;
	}
		/** Title and images */
		#page-top{
			text-align: center;
		}
			/** Logo/photo */
			#page-top > a{
				display: inline-block;
				line-height: 0;
				margin: 0 -1em .5em;
			}
			
			/** Title */
			#page-title{
				text-align: left;
			}
				#page-title > a{
					color: inherit;
				}
				#page-title > a:hover{
					color: #82585a;
					text-decoration: none;
				}

		
		/** Basic info block, preceding foldable content sections */
		#basic-info{
			margin-bottom: 2em;
		}
			#basic-info > dt,
			#basic-info > dd{
				width: 50%;
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding: 0;
			}
			#basic-info > dt{
				width: 45%;
			}
		

		/** Togglable content sections: tabs on desktop, accordion for mobile */
		#page-sections{
			margin: 0 -1em 1em;
			border-bottom: 1px solid #461f0f;
		}
			/** Section titles */
			#page-sections > section > h3{
				font: 1.375em Georgia;
				padding: .7em .5em .7em 3.1em;
				background: url("../img/waves.png");
				border: 0 solid #461f0f;
				border-width: 0 0 1px;
				cursor: pointer;
			}
				/** Offset textures so contiguous closed folds don't show an ugly tiling effect */
				#page-sections > section:nth-child(2n) > h3{ background-position: -20px 20px; }
				#page-sections > section:nth-child(3n) > h3{ background-position: 40px -30px; }
				#page-sections > section:nth-child(4n) > h3{ background-position: 160px 30px; }
				
				#page-sections > :first-child    > h3,
				#page-sections > .open + section > h3{
					border-top-width: 1px;
				}
				
				/** Decorative ornament affixed to section's title */
				#page-sections > section > h3::before{
					color: #6d3f40;
					content: "\e605";
					font: 1em MAIcons;
					padding: .8em 0 0 .5em;
					position: absolute;
					top:  0;
					left: 0;
				}
			
			/** Buttons to add or edit stuff */
			#page-sections > section > .actions{
				position: absolute;
				top:   0;
				right: 0;
			}
			
			
			/** Expandable/collapsible section content */
			#page-sections > section > .fold{
				padding: 1em;
				overflow: hidden;
			}
				/** Subsections */
				#page-sections .accordion{
					margin: 0 -1em;
				}
					/** Draw a border beneath the last section */
					#page-sections .accordion > section:last-child{
						border-bottom: 1px solid #3e0b0a;
					}
					
					/** Subsection heading */
					#page-sections .accordion > section > h4{
						background: #110107;
						border: 0 solid #3e0b0a;
						border-width: 1px 0;
						position: relative;
						padding: .5em 1em;
						text-align: right;
					}
						/** Pointy arrows */
						#page-sections .accordion > section > h4::before{
							position: absolute;
							content: "";
							top:   50%;
							left: .7em;
							font-size: .85em;
							margin-top: -.4em;
							transform: scaleX(.65);
							border-width: 1em 1em 0;
							border-style: solid;
							border-color: #633 transparent;
						}
							#page-sections .accordion > .open > h4::before{
								border-width: 0 1em 1em;
							}
			
			/** Ornament displayed at the bottom of the fold's content */
			#page-sections > :first-child ~ * > .fold::after{
				content: "\e612";
				font: 1em MAIcons;
				display: block;
				text-align: center;
				color: #6d3f40;
				padding: 1em 0 0;
			}
		
		
			/** Data tables */
			.data-table{
			}
				.pagination{
					color: #6d3f40;
				}
					/** "Showing 1 to # of # entries" */
					.page-position{
						font-size: .97222em;
					}
					
					/** Buttons for viewing more results */
					.page-nav{
						display: inline-block;
						margin: .5em 0;
					}
						.page-numbers > a{
							border-radius: .4em;
							display: inline-block;
							vertical-align: top;
							min-width: 1.6em;
							height:    1.6em;
							text-align: center;
							color: #c2b8af;
							font: 1.25em/.9 Verdana, sans-serif;
						}
							.page-numbers > a:hover{
								text-decoration: none;
							}
				
				/** Rows of data */
				.rows{
					list-style: none;
					border-top: 1px solid;
					border-color: #3e0b0a;
					margin: 1em -1em;
					padding: 0;
				}
					.row{
						position: relative;
						border-bottom: 1px solid;
						border-bottom-color: inherit;
						padding: .5em 1em;
					}
						/** Buttons to do shit with the row's content */
						.row-actions{
							float: left;
							width: 3em;
							padding-top: .25em;
						}
							.row-actions > a{
								margin-bottom: .35em;
							}
						
						/** Actual contents of the row */
						.row-body{
							float: right;
							width: 100%;
							margin-left: -3em;
							padding-left: 3em;
						}
							/** Report entry */
							.reported{
								margin-bottom: 0;
							}
								.reported > dt{
									font-family: inherit;
									color: inherit;
								}
								.reported > dd{
									margin: 0;
									display: inline;
								}
									.reported > dd::after{
										content: "";
										display: block;
									}
						
						/** Clearfix */
						.row::after{
							content: "";
							display: block;
							clear: both;
						}
		
		
		/** Footer containing page metadata */
		#audit-trail{
			margin: .5em 0;
		}
			#audit-trail > dl{
				margin: 0;
			}
				#audit-trail dt{
					width: 9em;
					display: inline-block;
				}
				
				#audit-trail dd{
					margin: 0;
					padding: 0;
					display: inline;
				}
					#audit-trail time{
						white-space: nowrap;
					}
					#audit-trail dd::after{
						content: "";
						display: block;
					}
		
		/** Generic action links for the page */
		#page-actions{
			padding: 2em 0 0 4em;
			position: relative;
		}
			/** Pointy divider-thing */
			#page-actions::before{
				content: "\e603";
				font: 1em MAIcons;
				color: #6d3f40;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				text-align: center;
			}
			
			/** List heading */
			#page-actions > h4{
				font: 1.375em Georgia;
				color: #ddd3cb;
			}
				/** Spawn a divider before every heading except the first */
				#page-actions > h4:not(:first-of-type){
					margin-top: 2em;
				}
					#page-actions > h4:not(:first-of-type)::before{
						color: #6d3f40;
						content: "\e612";
						font: .6em MAIcons;
						position: absolute;
						left: 0;
						right: 0;
						text-align: center;
						margin-top: -2em;
					}
			
			/** List items */
			#page-actions > ul{
				list-style: none;
				padding: 0;
				margin: .25em 0 1.25em;
				position: relative;
			}
				/** Ornament */
				#page-actions > ul::before{
					content: "\e613";
					margin: -.2em .13em 0 0;
					font: 6em MAIcons;
					position: absolute;
					right: 100%;
					top: 0;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				
				#page-actions a{
					padding: .15em 0;
					display: inline-block;
				}

		




/*---------------------------------------------------------------------------*
	1a: < 352 (SMALL SMARTPHONES)
-----------------------------------------------------------------------------*/
@media (max-width: 22em){

.verbose{
	display: none !important;
}

.filter-list{
	padding-left:  1.5em;
	padding-right: 1.5em;
}



main{
}
	/** Push info columns into rows */
	#basic-info > dt,
	#basic-info > dd{
		width: auto;
		display: block;
	}
	
	
	#audit-trail dt{
		width: 8em;
	}
}
}
}
