html{
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	font-family: Verdana, Arial, Geneva, sans-serif;
	background: #000;
	color: #e2d8cf;
}


/** Rulesets for hiding/showing vertical sidebar on mobile */
#sidebar, #outer-wrap{
	-webkit-transition:		.3s ease -webkit-transform;
	-moz-transition:		.3s ease -moz-transform;
	-o-transition:			.3s ease -o-transform;
	transition:				.3s ease transform;

	-webkit-transform:		translateX(0);
	-moz-transform:			translateX(0);
	-ms-transform:			translateX(0);
	-o-transform:			translateX(0);
	transform:				translateX(0);

	-webkit-backface-visibility:	hidden;
	-moz-backface-visibility:		hidden;
	backface-visibility:			hidden;
	will-change: transform;
}
	.open-sidebar > #outer-wrap,
	.open-sidebar > #sidebar{
		-webkit-transform:	translateX(16.25em);
		-moz-transform:		translateX(16.25em);
		-ms-transform:		translateX(16.25em);
		-o-transform:		translateX(16.25em);
		transform:			translateX(16.25em);
	}


/** Sidebar */
#sidebar{
	position: fixed;
	overflow: auto;
	top:	0;
	bottom:	0;
	right:	100%;
	width:	16.25em;
	background: #000;
	-webkit-overflow-scrolling: touch;
}
	#sidebar > h2{
		position: absolute;
		top:	-999em;
		left:	-999em;
	}


	/** Collapsible sections */
	#sidebar > .fold{
		position: relative;
		overflow: hidden;
	}
		/** Add some subtle shading to the sidebar menus' right edge. */
		#sidebar > .fold::before{
			content: "";
			position: absolute;
			top:	-1em;
			bottom:	-1em;
			left:	100%;
			width:	1em;
			-webkit-box-shadow:	-.25em 0 .35em -.15em #000;
			-moz-box-shadow:	-.25em 0 .35em -.15em #000;
			box-shadow:			-.25em 0 .35em -.15em #000;
		}


		/** Menu headers */
		#sidebar h3{
			font: bold 1em Verdana;
			text-shadow: .3125em .25em 0 #000;
			padding: .58em 1.25em;
			cursor: pointer;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
			/** Lil' fuckin' pointy arrows. */
			#sidebar h3::before{
				color: #633;
				content: "\25b2";
				position: absolute;
				left: 1em;
			}
			#sidebar > .closed.fold > h3::before{
				content: "\25bc";
			}



		/** Menus */
		#sidebar ul,
		#sidebar li{
			list-style: none;
			padding: 0;
			margin: 0;
		}
			/** Menu links */
			#sidebar a{
				display: block;
				color: #e2d8cf;
				border-top: 1px solid #3e0b0a;
				padding: .5em .5em .5em 1.375em;
			}
				#sidebar ul > :first-child > a{
					border-top: 0;
				}

				/** Subnavigation menus */
				#sidebar a + ul{
					border-top: 1px solid #3e0b0a;
					text-indent: 2.225em;
				}


				#sidebar .fold > h3:hover,
				#sidebar li > a:hover{
					color: #a2787a;
					text-decoration: none;
				}
		
				#sidebar ul > :last-child > a{
					padding-bottom: 1.25em;
				}



/** Wrapper for everything that's pushed to the side whenever the sidebar's opened. */
#outer-wrap{
	position: fixed;
	overflow: hidden;
	top:	0;
	left:	0;
	bottom:	0;
	right:	0;
}
	/** Header */
	#top{
		background: url("../img/grain.png");
		position: fixed;
		top:	0;
		right:	0;
		left:	-1em;
		height: 3.125em;
		text-shadow: 3px 3px 0 #000;
		z-index: 9;

		-webkit-box-shadow:	2.5px 4.33px 5px 0 rgba(0,0,0,.75);
		-moz-box-shadow:	2.5px 4.33px 5px 0 rgba(0,0,0,.75);
		box-shadow:			2.5px 4.33px 5px 0 rgba(0,0,0,.75);
	}
		/** Page title */
		#top > h1{
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			margin: 0;

			-webkit-transition:	.3s ease opacity;
			-moz-transition:	.3s ease opacity;
			-o-transition:		.3s ease opacity;
			transition:			.3s ease opacity;
		}
			/** Conceal the page's title when the search bar's flipped open. */
			.open-search #top > h1{
				opacity: 0;
			}


		/** Buttons for toggling sidebar/search-field */
		#top > .i{
			position: absolute;
			color: #c2af9f;
			top:	50%;
			margin-top: -.5em;
			cursor: pointer;
			padding: .7em;

			-webkit-transition:	.3s ease all;
			-moz-transition:	.3s ease all;
			-o-transition:		.3s ease all;
			transition:			.3s ease all;
		}
			#toggle-sidebar{
				font-size: 1.3em;
				left: 1.3em;
			}
				.open-sidebar #toggle-sidebar{
					color: #fff;
				}

			#toggle-search{
				right: .333em;
			}
				.open-search #toggle-search{
					opacity: 0;
				}



	/** Omnipresent search pane */
	#search-bar{
		position: fixed;
		left:	2.335em;
		height: 3.125em;
		top:	0;
		right:	0;
		opacity: 0;
		z-index: 10;

		-webkit-transition:	.4s ease opacity;
		-moz-transition:	.4s ease opacity;
		-o-transition:		.4s ease opacity;
		transition:			.4s ease opacity;
	}
		.open-search #search-bar{
			opacity: 1;
		}

		#search-clip{
			position: absolute;
			overflow: hidden;
			top:	0;
			left:	0;
			right:	0;
			bottom:	0;
		
			-webkit-transition:	0s step-end right .4s;
			-moz-transition:	0s step-end right .4s;
			-o-transition:		0s step-end right .4s;
			transition:			0s step-end right .4s;
		}
			.open-search #search-clip{
				right:	1.8em;
				-webkit-transition-delay:	0s;
				-moz-transition-delay:		0s;
				-o-transition-delay:		0s;
				transition-delay:			0s;
			}

			#search-spring,
			#search-spring > div{
				position: absolute;
				top:	0;
				left:	0;
				right:	0;
				bottom:	0;
			}
				/** The sliding part that provides the hardware-accelerated magic. */
				#search-spring > div{
					-webkit-backface-visibility:	hidden;
					-moz-backface-visibility:		hidden;
					backface-visibility:			hidden;

					-webkit-transform:	translateX(100%);
					-moz-transform:		translateX(100%);
					-ms-transform:		translateX(100%);
					-o-transform:		translateX(100%);
					transform:			translateX(100%);

					-webkit-transition:	.4s ease all;
					-moz-transition:	.4s ease all;
					-o-transition:		.4s ease all;
					transition:			.4s ease all;
				}
					/** Transform reset/force hardaware acceleration */
					#search-query-wrap,
					#search-bar,
					.open-search #search-spring > div{
						-webkit-transform:	translateX(0);
						-moz-transform:		translateX(0);
						-ms-transform:		translateX(0);
						-o-transform:		translateX(0);
						transform:			translateX(0);
						
						-webkit-backface-visibility:	hidden;
						-moz-backface-visibility:		hidden;
						backface-visibility:			hidden;

						/** Switch to 3D transforms for browsers that don't suck a bowl of arse. */
						-webkit-transform:	translateZ(0);
						-moz-transform:		translateZ(0);
						-ms-transform:		translateZ(0);
						-o-transform:		translateZ(0);
						transform:			translateZ(0);

						-webkit-perspective:	1em;
						-moz-perspective:		1em;
						perspective:			1em;
					}

				/** Generated floral ornaments */
				#search-spring > div::before,
				#search-bar::after{
					content: "";
					position: absolute;
					font-size: 3em;
					width:	.96em;
					height:	1em;
					top:	50%;
					left:	0;
					margin:	-.5em 0 0;
					z-index: -2;
					background: url("../img/sprites.png") no-repeat;

					-webkit-transition:	0s step-end z-index .4s;
					-moz-transition:	0s step-end z-index .4s;
					-o-transition:		0s step-end z-index .4s;
					transition:			0s step-end z-index .4s;
				}
					/** Flip the right ornament */
					#search-bar::after{
						left: auto;
						right:	0;
						-webkit-transform:	scaleX(-1);
						-moz-transform:		scaleX(-1);
						-ms-transform:		scaleX(-1);
						-o-transform:		scaleX(-1);
						transform:			scaleX(-1);
					}

					/** Immediately elevate ornaments into sight when search is opened. */
					.open-search #search-spring > div::before,
					.open-search #search-bar::after{
						z-index: 20;
						-webkit-transition-delay:	0s;
						-moz-transition-delay:		0s;					
						-o-transition-delay:		0s;
						transition-delay:			0s;
					}


					/** Form-fitting wrapper of the <input /> element, used to apply reliable styling. */
					#search-query-wrap{
						position: absolute;
						overflow: hidden;
						top:	.4em;
						left:	-2.5em;
						right:	0;
						height:	2.5em;
						background: #000;
						border: 0 solid #917979;
						border-width: 1px 0;

						-webkit-border-radius:	.5em;
						-moz-border-radius:		.5em;
						border-radius:			.5em;

						-webkit-transition:		0s step-end left .4s;
						-moz-transition:		0s step-end left .4s;
						-o-transition:			0s step-end left .4s;
						transition:				0s step-end left .4s;
					}
						.open-search #search-query-wrap{
							left:	1.5em;
							-webkit-transition-delay:	0s;
							-moz-transition-delay:		0s;
							-o-transition-delay:		0s;
							transition-delay:			0s;
						}

						/** Actual <input type="search" name="searchString" /> element. */
						#search-query{
							border:  0;
							padding: 0 1.45em;
							margin:  0;
							opacity: 0;
							position: absolute;
							left:	0;
							top:	0;
							width:	100%;
							height:	100%;
							background: none;
							color: #e2d8cf;
							cursor: pointer;

							-webkit-transition:	.4s ease opacity;
							-moz-transition:	.4s ease opacity;
							-o-transition:		.4s ease opacity;
							transition:			.4s ease opacity;

							-webkit-box-shadow:	inset 0 0 1px 1px #000;
							-moz-box-shadow:	inset 0 0 1px 1px #000;
							box-shadow:			inset 0 0 1px 1px #000;
						}
							.open-search #search-query{
								opacity: 1;
								cursor: text;
							}



		/** Search options */
		#search-options{
			background: url("../img/waves.png");
			border: 0 solid #461f0f;
			border-width: 0 1px 1px;
			top:	-999em;
			left:	-1em;
			right:	1em;
			position: absolute;
			white-space: nowrap;
			overflow: hidden;
			font-size: .875em;
			text-align: left;
			padding: .6em 1em;
			
			-webkit-transition:	0s step-end top .4s;
			-moz-transition:	0s step-end top .4s;
			-o-transition:		0s step-end top .4s;
			transition:			0s step-end top .4s;
		}
			.open-search #search-options{
				top:	3.6em;
				-webkit-transition-delay:	0s;
				-moz-transition-delay:		0s;
				-o-transition-delay:		0s;
				transition-delay:			0s;	
			}

			#search-options > .select-wrap > .value{
				padding-left: .25em;
			}


			#search-close{
				position: absolute;
				right:	0;
				top:	0;
				cursor: pointer;
			}


		/** Hide the link to the advanced search on mobile. Too cramped, and it's accessible in the sidebar anyway. Hide the submission button too. */
		#search-advanced, #search-submit{
			display: none;
		}




	/** Copyright information */
	#copyright{
		font: .75em/1.75em Verdana;
		text-align: center;
		display: block;
		padding: .8em 0 1.5em;
	}
		#copyright > b{
			display: block;
		}




	/** Wrapper for page's content */
	main{
		position: fixed;
		overflow: auto;
		top:	50px;
		top:	3.125rem; /** Needs to match #top's height */
		font-size: .9em;
		left:	0;
		right:	0;
		bottom:	0;
		-webkit-overflow-scrolling: touch;
	}
		#logo, #photo{
			display: block;
		}


		/** Action buttons (edit/file report, etc). */
		#page-actions{
			position: absolute;
			text-align: right;
			right: 0;
			padding: 1em;
		}
			#page-actions > a{
				color: #824c4c;
			}
				#page-actions > a:hover{
					color: #633;
				}


		/** Holds the most obvious/rudimentary info displayed in the page: name, statistics, etc., */
		#basics{
			padding: 1em;
		}
			#basics > dl{
				max-width: 30em;
			}


		/** Release list */
		.releases{
			margin: 0;
			padding: 0;
			list-style: none;
		}
			/** Release entry */
			.releases > li{
				border-top: 1px solid #693d3e;
				padding: .85em .5em;
				font-size: .9em;
			}
				/** Album title */
				.releases > li > .name{
					font-size: 1.125em;
					font-weight: bold;
				}
					/** New-line */
					.releases > li > .name::after{
						content: "";
						display: block;
						clear: both;
						height: .15em;
					}

				/** Year and release type */
				.releases > li > .year,
				.releases > li > .type{
					min-width: 4em;
					display: inline-block;
					vertical-align: top;
				}
				
				/** Review count/average review display */
				.releases > li > .reviews{
					float: right;
				}
				
			.releases > li:first-child{
				border-top: 0;
			}


	/** Timestamps: last modified, date added, etc. */
	#bottom-dates{
		margin: 1em .5em;
		line-height: 1.6;
	}
		#bottom-dates > dt{	width: 40%;	}
		#bottom-dates > dd{	width: 58%;	}


@media (max-width: 22em){
	.verbose{
		display: none;
	}

	/** Collapse stat blocks into a single column. Allows for lengthier values. */
	#basics dt,
	#basics dd{
		width: auto;
		display: block;
	}
	
	.releases > li > .year,
	.releases > li > .type{
		min-width: 3.5em;
	}
}

@media (min-width: 27.5em){
	#search-advanced{
		display: block;
		position: absolute;
		bottom: .06em;
		right: 1.2em;
		margin: .5em 1em;
	}
}

/*=============================================================================*
	HIGH-RESOLUTION DEVICES
===============================================================================*/
@media print,
	(-webkit-min-device-pixel-ratio: 1.2),
	(-o-min-device-pixel-ratio: 5/4),
	(min-resolution: 120dpi)
{
	.double-sceptre > s > i,
	.double-sceptre > s::before,
	.double-sceptre > s::after,
	#search-spring > div::before,
	#search-bar::after,
	.link-list::before{
		background-image: url("../img/sprites@2x.png");
		-webkit-background-size:	85px 125px;
		-khtml-background-size:		85px 125px;
		-moz-background-size:		85px 125px;
		-ms-background-size:		85px 125px;
		-o-background-size:			85px 125px;
		background-size:			85px 125px;
	}
}