#basic-info,
.zoomable{
	display: none !important;
}


/** Band pages */
#biography > .fold{
	font-size: .95em;
	line-height: 1.4;
}

/** Discography */
#discography > .fold{
}
	.releases{
		list-style: none;
		padding: 0;
		margin: -1.3em 0 -.3em;
		text-align: left;
	}
		.release{
			border-top: 1px solid #693d3e;
			margin: .5em -.4em;
			padding: 0 .4em;
		}
			.release:first-child{
				border-top: 0;
			}
			
			/** Top row: Release's name */
			.release > .title{
				font-weight: bold;
				line-height: 1.3;
				display: inline-block;
				padding: .7em 0 0;
			}
			
			/** Bottom row: All the other shit */
			.release-info{
				position: relative;
				font-size: .9em;
			}
				.release-info > .date{
					position: absolute;
					left: 0;
					top: 0;
				}
				.release-info > .type{
					padding-left: 4.5em;
				}
				.release-info > .reviews{
					position: absolute;
					right: 0;
				}

		


/** Band line-ups */
#members > .fold{
}
	/** Each different line-up list (Past, active, live, etc) */
	#lineups ul{
		list-style: none;
		display: inline;
		margin: 0;
		padding: 0;
	}
		/** An individual member entered in this band's line-up */
		.member{
			border-top: 1px solid #3e0b0a;
			margin: 1em .8em;
			padding: 0 .5em;
			font-size: .875em;
			line-height: 1.75;
		}
			.member:first-child{
				border-top: 0;
			}
				.member:first-child > .name{
					margin-top: 0;
				}
			
			/** Link to the artist's profile */
			.member > .name{
				font-weight: bold;
				font-size: 1.143em;
				margin-top: .5em;
				display: inline-block;
			}
			
			
			/** Other bands this artist's played with */
			.see-also{
			}
				.see-also ul,
				.see-also li,
				.member > .rip,
				.see-also{
					display: inline;
				}
					.see-also li:last-child::after{ content: none; }
					.see-also li::after{            content: ", "; }




/*---------------------------------------------------------------------------*
	1a: < 352 (SMALL SMARTPHONES)
-----------------------------------------------------------------------------*/
@media (max-width: 22em){
	
	.release-info > .reviews{
		position: static;
		display: block;
	}
}
